<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Active Lifestyle Therapy</title>
        <meta charset="utf8"/>
        <meta property="og:site_name" content="Active Lifestyle Therapy"/>
        <link href="http://fonts.googleapis.com/css?family=Comfortaa:400,300" rel="stylesheet" type="text/css">
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div id="BodyContainer">
            <div id="Header">
                <div id="Logo">
                    <h1>Active Lifestyle Therapy</h1>
                </div>
            </div>
            <div id="TopNav" class="clearfix">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Yoga Hiking</a></li>
                    <li><a href="">Wellness Coaching</a></li>
                    <li><a href="">Bodywork Therapy</a></li>
                    <li><a href="">Calendar</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Friends</a></li>
                    <li><a href="">Blog</a></li>
                    <li class="last"><a href="">Contact</a></li>
                </ul>
            </div>
            <h1 class="Proactive">be proACTIVE.</h1>
            <h2 class="Tagline">training, therapy and events to help you reconnect with your body</h2>
            <div id="HomeRow1">
                <div id="YogaHike" class="clearfix">
                    <h1>yoga hiking</h1>
                    <a href="" title="Yoga hiking" class="BlockLink">&nbsp;</a>
                </div>
                <div id="Facebook">
                    <a href="https://www.facebook.com/Activelifestyletherapy" title="Like us on Facebook" class="BlockLink">&nbsp;</a>
                    <div class="fb-like" data-href="https://www.facebook.com/Activelifestyletherapy" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false"></div>
                </div>
                <div id="FreeGift">
                    <h1>A Gift for You</h1>
                    <h2>free hypno-meditation audio</h2>
                    <hr>
                    <span>Sit back and relax to this Hypno-Meditation geared to
                    help turn procrastination into motivation ACTION. You'll
                    also receive instant access to my ALT newsletter plus:</span>
                    <span class="pluses">updates | articles | resources | classes &amp; workshops</span>
                </div>
            </div>
            <div id="HomeRow2" class="clearfix">
                <div id="Wellness">
                    <h1>wellness coaching</h1>
                    <a href="" title="Wellness coaching" class="BlockLink">&nbsp;</a>
                </div>
                <div id="BodyWork">
                    <h1>bodywork therapy</h1>
                    <a href="" title="Bodywork therapy" class="BlockLink">&nbsp;</a>
                </div>
            </div>
            <div id="HomeRow3" class="clearfix">
                <div id="Testimonial">
                    <span class="Quote">"Last week's yoga hike with Jezy was fun and relaxing; it
                    really helped me to pause and refocus on what is important in my life."<br></span>
                    <span class="Signature">-Steve H, Arizona</span>
                </div>
                <div id="Adventure">
                    <h1>Roadtrip Adventure!</h1>
                    <h2>February 1st, 2013</h2>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit...<br></span>
                    <a href="">read more &gt;</a>
                </div>
            </div>
            <div id="Footer">
                <span>&copy; 2013 Active Lifestyle Therapy, LLC</span>
            </div>
        </div>
    </body>
</html>