<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Active Lifestyle Therapy</title>
        <meta charset="utf8"/>
        <meta property="og:site_name" content="Active Lifestyle Therapy"/>
        <link href="http://fonts.googleapis.com/css?family=Comfortaa:400,300" rel="stylesheet" type="text/css">
        <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="BodyContainer">
            <div id="Header"></div>
            <div id="TopNav" class="clearfix">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Yoga Hiking</a></li>
                    <li><a href="">Wellness Coaching</a></li>
                    <li><a href="">Bodywork Therapy</a></li>
                    <li><a href="">Calendar</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Friends</a></li>
                    <li><a href="">Blog</a></li>
                    <li class="last"><a href="">Contact</a></li>
                </ul>
            </div>
            <h1 class="Proactive">be proACTIVE.</h1>
            <h2 class="Tagline">training, therapy and events to help you reconnect with your body</h2>
            <div id="HomeRow1">
                <div id="YogaHike" class="clearfix">
                    <h1>yoga hiking</h1>
                </div>
                <div id="Facebook">
                    be our friend!
                </div>
                <div id="FreeGift">
                    <h1>A Gift for You</h1>
                    <h2>free hypno-meditation audio</h2>
                    <hr>
                    <span>Sit back and relax to this Hypno-Meditation geared to
                    help turn procrastination into motivation ACTION. You'll
                    also receive instant access to my ALT newsletter plus:</span>
                    <span class="pluses">updates | articles | resources | classes &amp; workshops</span>
                </div>
            </div>
            <div id="HomeRow2" class="clearfix">
                <div id="Wellness">
                    <h1>wellness<br><span>coaching</span></h1>
                </div>
                <div id="BodyWork">
                    <h1>bodywork<br><span>therapy</span></h1>
                </div>
            </div>
            <div id="HomeRow3" class="clearfix">
                <div id="Testimonial">
                    <span class="Quote">"Last week's yoga hike with Jezy was fun and relaxing; it
                    really helped me to pause and refocus on what is important in my life."<br></span>
                    <span class="Signature">-Steve H, Arizona</span>
                </div>
                <div id="Adventure">
                    <h1>Roadtrip Adventure!</h1>
                    <h2>February 1st, 2013</h2>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit...<br></span>
                    <a href="">read more &gt;</a>
                </div>
            </div>
            <div id="Footer">
                <span>&copy; 2013 Active Lifestyle Therapy, LLC</span>
            </div>
        </div>
    </body>
</html>