html, body {margin:0;padding:0;}
body {background:#251511 url(../img/ALT-75.jpg) repeat-x scroll center top;font:normal 12pt serif;}
img {border:none;}
a {text-decoration:none;}
button {
    position:relative;
    font:normal 0.9em 'Comfortaa';
    color:#ececec;
    padding:10px 0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef8f56), color-stop(1, #e1502a));
    border:none;
    box-shadow:1px 1px 3px 1px #ccc;
}

/* Clearfix styles */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

#BodyContainer {background:rgba(068,068,068,0.65);color:#fff;width:948px;padding:29px;margin:30px auto;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 20px 6px #000;}
#Header {width:100%;height:298px;background:#000 url(../img/be_active_banner.png) no-repeat;position:relative;}
#Logo {position:absolute;top:70px;left:420px;background:transparent url(../img/active_lifestyle_therapy_graphic.png) no-repeat left top;width:371px;height:177px;}
#Logo h1 {font:normal 16pt 'Comfortaa';color:#eb8b52;position:relative;left:-9999px}

#TopNav {background:#fff;color:#666;margin:10px 0;padding:5px 0;text-align:center;}
#TopNav ul {list-style-type:none;padding:0;margin:0 auto;text-transform:lowercase;}
#TopNav li {display:inline-block;font:normal 1em 'Comfortaa';border-right:1px solid #7d7d7d;}
#TopNav li.last {border:none;}
#TopNav a {display:block;padding:0 8px;color:#7d7d7d;text-decoration:none;}
#TopNav a:hover, #TopNav a.Active {color:#e7773a;}

h1,h2,h3 {font-family:'Comfortaa';font-weight:normal;margin:0;padding:0;}
h1.Proactive {font-size:6.8em;letter-spacing:-5px;text-shadow:0 4px 8px #111;padding:0 2px;text-align:center;}
h2.Tagline {font-size:1.8em;text-shadow:0 2px 8px #000;margin:15px 0;}

.BlockLink {position:absolute;display:block;top:0;left:0;width:100%;height:100%;}

#YogaHike {width:529px;height:400px;background:#000 url(../img/yoga_hiking.png) no-repeat;float:left;position:relative;}
#YogaHike h1 {font-size:70pt;font-weight:100;position:relative;left:-9999px;}

#Facebook {position:relative;width:75px;padding:13px 0 0 334px;height:70px;margin-left:10px;background:rgba(255,255,255,0.9) url(../img/be_our_friend_graphic.png) no-repeat 20px 15px;float:left;}
#Facebook .BlockLink {width:324px;}

#FreeGift {width:375px;height:267px;margin:10px 0 0 10px;padding:20px 17px;background:#fff url(../img/girl_circle_graphic.png) no-repeat 265px -32px;color:#979797;float:left;}
#FreeGift h1, #FreeGiftFooter h1 {font-size:2.3em;color:#eb8b52;}
#FreeGift h2, #FreeGiftFooter h2 {font-size:1.1em;color:#acacac;}
#FreeGift hr {width:250px;margin:10px 0 22px 0;border:0;height:1px;background-color:#acacac;}
#FreeGift .pluses {display:block;font-family:'Comfortaa';font-weight:normal;font-size:0.9em;color:#eb8b52;}
#FreeGift button {
	display:block;
	width:366px;
	top:5px;
}

.content-header-block h1 {font-size:3.9em;text-align:center;margin-bottom:10px;}
.content {background:rgba(255,255,255,0.9);color:#858585;padding:15px;}

#ContentFooter {margin-top:10px;background:rgba(255,255,255,0.9) url(../img/girl_circle_graphic.png) no-repeat right -60px;height:100px;padding:15px;}
#FacebookFooter {height:100%;position:relative;float:left;width:75px;padding:13px 0 0 104px;height:70px;}
#FacebookFooter .BlockLink {width:75px;}
#FreeGiftFooter {height:100%;float:right;color:#979797;}
#FreeGiftFooter .Headers {float:left;margin-top:10px;}
#FreeGiftFooter form {float:left;margin:0 40px 0 20px;}
#FreeGiftFooter button {width:363px;margin-top:5px;}

#FreeGift form {margin-top:15px;}
#FreeGift form label, #FreeGiftFooter form label {font:normal 1em 'Comfortaa';}
.SubscribeFormField {float:left;width:175px; margin-left:10px;}
.SubscribeFormField input {width:175px;margin-left:-10px;line-height:1.6em;height:1.6em;background:#fafafa;border:1px solid #979797;font:normal 0.9em 'Comfortaa';}

#Wellness {position:relative;margin-top:10px;width:380px;height:230px;background:#000 url(../img/wellness_coaching.png) no-repeat;color:#fff;float:left;text-align:right;}
#Wellness h1 {font-size:70pt;position:relative;left:-9999px;}
#Wellness h1 span {font-size:36pt;position:relative;top:-60px;}
#BodyWork {position:relative;margin:10px 0 0 10px;width:558px;height:230px;background:#000 url(../img/body_work_therapy.png) no-repeat;color:#fff;float:left;}
#BodyWork h1 {font-size:36pt;position:relative;left:-9999px;}
#BodyWork h1 span {font-size:70pt;position:relative;top:-20px;}

#Testimonial {width:488px;background:#fff;color:#6d6d6d;margin-top:10px;float:left;padding:45px 15px 45px 25px;line-height:1.6em;}
#Testimonial .Quote {font-style:italic;}
#Testimonial .Signature {color:#bcbcbc;}

#Adventure {margin:10px 0 0 10px;padding:25px 10px 39px 180px;background:#fff url(../img/road.png) no-repeat left top;color:#979797;width:220px;height:145px;float:left;}
#Adventure h1 {font-size:16pt;color:#eb8b52;}
#Adventure h2 {font-size:16pt;}
#Adventure span {color:#6d6d6d;}
#Adventure a {color:#eb8b52;text-decoration:none;font:normal 12pt 'Comfortaa';}

footer, #Footer {border-top:1px solid #fff;font-size:14pt;margin-top:20px;padding-top:10px;}