{% extends "base.html" %}
{% load url from future %}

{% block page_title %}{% if sitepage.title %}{{ sitepage.title }} - {% endif %}{{ block.super }}{% endblock page_title %}
{% block body-class-block %}{{ sitepage.page_class }}{{ block.super }}{% endblock body-class-block %}

        {% block content-block %}
            <div class="content-block">
                {% block content-header-block %}
                    <div class="content-header-block"><h1>{{ sitepage.content_header }}</h1></div>
                {% endblock content-header-block %}
                <div class="content">{{ sitepage.content|safe }}</div>
            </div>
        {% endblock content-block %}
        {% block footer-block %}
        <div id="ContentFooter" class="clearfix">
            <div id="FacebookFooter">
                <a href="https://www.facebook.com/Activelifestyletherapy" title="Like us on Facebook" class="BlockLink" target="_blank">&nbsp;</a>
                <div class="fb-like" data-href="https://www.facebook.com/Activelifestyletherapy" data-send="false" data-layout="box_count" data-width="100" data-show-faces="false"></div>
            </div>
            <div id="FreeGiftFooter" class="clearfix">
                <div class="Headers">
                    <h1>A Gift for You</h1>
                    <h2>free hypno-meditation audio</h2>
                </div>
                <form method="post" action="{% url 'mailchimp_subscribe' %}" class="clearfix">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div class="SubscribeFormField">
                        <label>name<br>
                            <input type="text" name="name">
                        </label>
                    </div>
                    <div class="SubscribeFormField">
                        <label>email<br>
                            <input type="text" name="email">
                        </label>
                    </div>
                    <button type="submit" class="Subscribe">send me my free gift!</button>
                </form>
            </div>
        </div>
        {{ block.super }}
        {% endblock %}